@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/roboto";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.underline-animate {
  position: relative;
  text-decoration: none; /* remove default underline */
}

.underline-animate::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.underline-animate:hover::after,
.underline-animate:focus-visible::after {
  width: 100%;
}
